[program:{{ item.cmd | default(item) | replace(":", "__") }}]
process_name=%(program_name)s_%(process_num)02d
command=php {{ app_directory }}/artisan {{ item.cmd | default(item) }}
autostart=true
autorestart=true
user={{ item.user | default(supervisor_command_user) }}
numprocs={{ item.numprocs | default(supervisor_command_numprocs) }}
redirect_stderr=true
stdout_logfile={{ app_directory }}/storage/logs/supervisor-%(program_name)s-%(process_num)02d.log
