[program:{{ item.cmd | default(item) | replace(":", "__") | replace(" ", "_")  }}]
process_name=%(program_name)s_%(process_num)02d
command={{ item.cmd | default(item) }}
autostart=true
autorestart=true
startsecs={{ start_secs }}
startretries={{ start_retries }}
user={{ item.user | default(supervisor_command_user) }}
numprocs={{ item.numprocs | default(supervisor_command_numprocs) }}
redirect_stderr=true
stdout_logfile=/var/log/supervisor/supervisor-%(program_name)s-%(process_num)02d.log
